h1{
  color: #f69769;
  font-family: 'Racing Sans One',cursive;
  font-size: 100px;
  text-align: left;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
li::first-line{
  font-variant: small-caps;
}
body{
  margin-left: 75px;
  margin-right: 75px;
  background-image: url('../img/bkgd-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  font-family: 'Roboto', sans-serif;
  color: #9da9ed;
}
.dfrnt{
  background-color: #f69769;
  text-align: left;
  color: #6A5273;
}
.link{
  color: #f69769;
  padding-right: 20px;
}
img{
  height:225px;
  margin: 25px 50px 25px 50px;
  display: inline;
  filter: opacity(0);
  transition: filter 1.3s;
}
img:hover{
  filter: opacity(1);
}
.hrt{
  color: #ffffff;
}
.pg{
  font-size: 28px;
}
table, td, th{
  text-align: left;
  border: 3px dashed #6A5273;
  border-collapse: collapse;

}
ul {
  display: inline;
  transition: filter 1.45s;
  list-style: none;
}
iframe{
  display: block;
  float: right;
  margin-right: 75px;
}
p, li, table {
  transition: filter 1.45s;

}
p:hover, table:hover, li:hover {
  filter: brightness(160%);
}

#i{
  font-style: italic;
  text-decoration: overline;
}

a:visited:before{
  content: "/2713"
}

@keyframes example {
  0%   {color: #f69769;}
  20%  {color: #9da9ed;}
  40%  {color: #ffffff;}
  60%  {color: #6A5273;}
  80%  {color: #DF5C60;}
  100% {color: #f69769;}
}
